@page "/edit/{Id:int}"

<div class="container shadow p-5 mt-4" dir="rtl">
    <h3 class="text-right"> EditUser:::</h3>
    <h class="text-right">@Message</h>
    <Form1 User="User" Submit="EditUser" />
</div>
@code {

}
